/*color palette*/
:root {
    --main-bg-color: #232323;
    --main-txt-color: #fdfdfd;
    --main-accent-color: #EE750E;
}

#login, #register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;

}

legend{
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

.modularForm legend,.modularForm label,.modularForm select,.modularForm option{
    color: var( --main-txt-color);
}

.modularForm label {
    font-size: 12px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 0;
}
.modularForm {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 600px;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    color: #e54c3f;
}

.modularForm input, .modularForm textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    background-color: transparent;
}

.modularForm textarea{
    height: 106px;
}

#submit, #registerbutton, #loginbutton {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid var(--main-txt-color) 1px;
    width: 90%;
    font-size: 16px;
    color: var(--main-txt-color);
    padding: 14px 20px;
    margin: 30px 0;
    cursor: pointer;
}

#submit:hover, #registerbutton:hover, #loginbutton:hover {
    color: var(--main-accent-color);
    border-color: var(--main-accent-color);
}

.error {
    border: 1px solid #e54c3f;
    width: 100%;
    max-width: 600px;
}
.error h1 {
    color: #e54c3f;
    font-size: 16px;
    padding: 10px;
}