/*color palette*/
:root {
    --main-bg-color: #232323;
    --main-txt-color: #f9f9f9;
}

#loginform{
    display: none;
}

#login, #register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;

}

legend{
    text-align: center;
    font-family: raleway, sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

legend, label, select, option{
    color: var( --main-bg-color);
}

label {
    width: 90%;
}
form {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 600px;
    background-color: var(--main-txt-color);
    padding: 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
}

span{
    color: red;
}

input, textarea {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #afafaf;
    box-sizing: border-box;
}
input {
    background-color: #f3f3f3;
}

textarea{
    height: 20vh;
}

#submit, #registerbutton, #loginbutton {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid black 1px;
    width: 90%;
    font-size: 16px;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

#submit:hover, #registerbutton:hover, #loginbutton:hover {
    background-color: #323232;
    color: #d5d5d5;
}