/*color palette*/
:root {
    --main-bg-color: #232323;
    --main-txt-color: #fdfdfd;
    --main-accent-color: #EE750E;
}

h1 {
    margin: 30px 0 20px 0;
    color: var(--main-accent-color);
}
section{
    margin-top: 40px;
}

#event_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#events_table div {
    overflow-x: auto;
}

table {
    color: var(--main-accent-color);
    border-spacing: 0;
    width: 100%;
    max-height: 488px;


}
td{
    border-top: 1px solid #c0c0c0;
    padding: 10px;
    color: var(--main-txt-color);
}
th{
    text-align: left;
    padding: 15px 10px 15px 10px;
    color: var(--main-accent-color);
}

td form {
    box-shadow: none;

}

#delete {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid var(--main-txt-color) 1px;
    width: 90%;
    font-size: 16px;
    color: var(--main-txt-color);
    padding: 14px 30px 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

#delete:hover {
    color: #e54c3f;
    border-color: #e54c3f;
}
