/*color palette*/
:root {
    --main-bg-color: #232323;
    --main-txt-color: #fdfdfd;
    --main-accent-color: #EE750E;

}

/*general*/
html{
    scroll-behavior: smooth;
    background-color: var(--main-bg-color); 
}

/* Website's scrollbar
Does not work in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
    background-color: transparent;
    width:10px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color:transparent;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius:10px;
    border:4px solid black;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}

*{
    max-width: 100vw;
    margin: 0;
    padding: 0;
    color: var(--main-txt-color);
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto', sans-serif;
}

section{
    min-height: 100vh;
}

h1 {
    font-family: raleway, sans-serif;
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
}

/*intro section*/
#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#intro form input {
    padding: 15px 30px 15px 30px;
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid var(--main-txt-color) 1px;
    font-size: 16px;
    margin: 40px;
}
#intro form input:hover{
    color: var(--main-accent-color);
    border-color: var(--main-accent-color);
    cursor: pointer;
}
#intro img {
    height: auto;
    width: 100px;
    margin: 190px 40px 40px;
}

#intro div {
    display: flex;
    margin-top: -30px;
    height: 100%;
    justify-content: center;
}

#intro hr {
    width: 1px;
    height: 200%;
    background-color: var(--main-txt-color);
    border-style: none;
}

/*about section*/
#about {
    display: flex;
    justify-content: center;
    align-content: center;

}

#about div {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 680px;
}

#about h2{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    max-width: 480px;
    margin-top: 30px;
    padding: 20px;

}

#about p {
    font-size: 18px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    padding: 10px;


}

/*footer*/
footer {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px ;
}

