nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: raleway, sans-serif;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;

}

nav li {
    padding: 30px;
}

nav li:hover{
    cursor: pointer;
}
nav li a {
    color: black;
    text-decoration: none;
}

#buffer{
    flex-grow: 2;
}

#navloginbutton{
    padding: 5px 20px 5px 20px;
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid black 1px;
}