/*color palette*/
:root {
    --main-bg-color: #232323;
    --main-txt-color: #fdfdfd;
    --main-accent-color: #EE750E;

}

#menu{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    font-family: raleway, sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
    padding: 30px;
}

nav li a {
    color: var(--main-txt-color);
    text-decoration: none;
}

nav li a:hover {
    color: var(--main-accent-color);
    cursor: pointer;
}

#buffer{
    flex-grow: 2;
}

#logo{
    z-index: 5;
    position: fixed;
    left: 30px;
    top: 30px;
}

#navloginbutton{
    padding: 8px 20px 8px 20px;
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid var(--main-txt-color) 1px;
    font-size: 16px;
}

#navloginbutton:hover{
    color: var(--main-accent-color);
    border-color: var(--main-accent-color);
    cursor: pointer;
}

nav form{
    position: fixed;
    right: 30px;
    top: 25px;
}

#hamburger, #cross{
    width: 0;
    height: 0;
    display: none;
}

#fade {
    position:fixed;
    top:0;
    width: 100vw;
    height: 100px;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0, 0, 0, 0.6));
    pointer-events: none;
}



@media only screen and (max-width: 700px) {
    #menu{
        flex-direction: column;
        top: auto;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.38);
        border: solid var(--main-txt-color) 1px;
        width: 55px;
        height: 55px;
        z-index: 5;
    }
    #menu:hover {
        border: solid var(--main-accent-color) 1px;
    }

    nav li{
        padding: 20px;
        display: block;
    }
    nav li a {

    }
    nav form{
        right: auto;
        top: auto;
        bottom: -0.5px;
        left: -0.5px;
    }

    .remove{
        display: none;
    }
    #navloginbutton{
        padding: 18px 10px 18px 10px;
        top: 0;
        font-size: 16px;
        background-color: rgba(0, 0, 0, 0.38);;
    }

    #navloginbutton:hover{
        color: var(--main-txt-color);
    }
    #logo{
        left: 46%;
        top: 30px;
    }


    #hamburger, #cross{
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 35px;
        height: auto;
        z-index: 6;
    }

    #hamburger{
        pointer-events: none;
    }

    .show{
        animation-name: slidein;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        width: 150px;
        height: 250px;
    }

    .hide{
        animation-name: slideout;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
        width: 10px;
        height:10px;
    }



    @keyframes slidein {
        from {
            width: 55px;
            height:55px;
        }
        to {
            width: 150px;
            height: 250px;

        }
    }
    @keyframes slideout {
        from {
            width: 150px;
            height: 250px;
        }
        to {
            width: 55px;
            height:55px;
        }
    }

}
