:root {
    --main-bg-color: #232323;
    --main-txt-color: #fdfdfd;
    --main-accent-color: #EE750E;
}

#users_booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
#users_booking div {
    min-width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;

}

#users_booking div h1 {
    color: var(--main-accent-color);
}

#centered-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid var(--main-txt-color) 0.5px;
    padding: 20px;
}

#centered-box p {
    padding: 20px;
    color: var(--main-txt-color);
}

table {
    border-spacing: 0;
    width: 100%;
    max-height: 488px;
    overflow-y:scroll;

}

th{
    color: var(--main-accent-color);
    text-align: left;
    padding: 15px 10px 15px 10px;
}
td{
    border-top: 1px solid #c0c0c0;
    padding: 10px;
    color: var(--main-txt-color);
}

.orange-button {
    position: relative;
    top: -4px;
    background-color: transparent;
    border: solid var(--main-txt-color) 1px;
    width: 90%;
    font-size: 16px;
    color: var(--main-txt-color);
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    min-width: 150px;
}

.orange-button:hover {
    color: var(--main-accent-color);
    border-color: var(--main-accent-color);
}